
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #656262;
  /* background-color: #b6bde7; */
}

.jumbotron h4 {
  text-align: center;
  margin-top: 20px;
}

.jumbotron .row {
  display: flex;
  justify-content: center;
}

.jumbotron img {
  max-width: 60%;
  height: auto;
}

.col-lg-6{
  padding-left: 15%;
}


