
.navbar-brand {
    font-size: 20px;
    font-family: sans-serif;
}

.bgcolor {
    background-color: #656262; /* Light grey color */
    /* Add any other styling you need for the light grey navbar */
}
