
table.redTable {
border: 1px solid #8508a4;
background-color: #EEE7DB;
width: 100%;
text-align: center;
border-collapse: collapse;
}

table.redTable td, table.redTable th {
border: 1px solid #AAAAAA;
padding: 1px 1px;
}

table.redTable tbody td {
font-size: 13px;
}

/* table.redTable tr:nth-child(even) {
background: #F5C8BF;
} */

table.redTable thead {
background: #504a4a;
}

table.redTable thead th {
font-size: 13px;
font-weight: bold;
color: #FFFFFF;
text-align: center;
border-left: 1px solid #b8b0b0;
}

table.redTable thead th:first-child {
border-left: none;
}

.search-container {
display: flex;
justify-content: flex-end;
align-items: center;
}

.search-container form {
display: flex;
align-items: center;
}

.search-container input,
.search-container button {
margin-left: 10px;
}

.highlight {
background-color: rgb(212, 162, 216);
}

.filter-input {
max-width: 100px;
padding: 0px; 
}

.active-column {
background-color: green;
}

table, th, td {
    user-select: none;
}

td {
user-select: text; 
}


.description-cell {
  max-width: 250px; 
  word-wrap: break-word;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal img {
    display: block;
    margin: 0 auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 50px;
    cursor: pointer;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h6 {
    animation: textGrow 6s infinite;
  }
  
  @keyframes textGrow {
    0% {
      font-size: 16px;
    }
    50% {
      font-size: 24px;
    }
    100% {
      font-size: 16px;
    }
  }



.filter-dropdown {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column; 
}

.filter-dropdown button {
  border-radius: 10px; 
  width:50px;
  height:30px;
  background-color: lightseagreen;
}