
<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
    <head> 
        <title> PMS: Task </title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/p1.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/allshot.css' %}">  
    </head>

  <body style="font-family: 'Roboto', sans-serif;">
    {% include "user/navbaradmin.html" %}
    <br>
    <br>

            <div class="p-2 mb-2 text-black" style = 'margin-top:5px;'>
                <div style = 'display: inline-block;'>
                    <a href="{% url 'allproject' %}"     style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Production </a>
                    <a href="{% url 'mandays' %}"        style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Mandays</a>
                    <a href="{% url 'viewissuedshot' %}" style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Artist</a>
                    <a href="{% url 'mang_message1' %}"  style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn"> Management</a>
                </div>

                <div style = 'display: inline-block; font-size: 18px; margin-left:400px; color:white'>
                    <h5 style="border-radius: 35px; text-align:center; background-color: #656262; width: 200px; height:25px;">All Project Shots </h5>
                </div>
            </div>

            <!-- --- ----------------------------------------- -->
            <div style="display: flex;">
                <div>
                    <table class="redTable1" style="width:100px">
                        <thead>
                            <tr>
                                <th>Project List</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for each in projects %}
                                <tr>
                                    <td style="position: relative;">
                                        <a href="{% url 'allshot_project' project_name=each.project_name %}" title="{{ each.project_name }}" 
                                            style='border-radius: 25px; text-align: center; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;'
                                            class="btn btn-outline-primary btn-sm" 
                                            role="button" aria-pressed="true">
                                            {{ each.project_name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>
                
        <!-- -------------------------------------------------------- -->
            <div>
                {% if project_name %}

                <table class="redTable" id="table" style="width: 1820px;">
                    <thead>
                        <tr>
                            <th>Sr.No                  </th>
                            <!-- <th><span>Project Name     </span></th> -->
                            <th><span>Shot Name        </span></th>
                            <th><span>Shot Version     </span></th>
                            <th><span>Dependency       </span></th>
                            <th><span>Scope of Work    </span></th>
                            <th><span>Assignment       </span></th>
                            <th><span>Internal Status  </span></th>
                            <th><span>Comp Status      </span></th>
                            <th>Assign                 </th>
                        </tr>
                    </thead>
    
                    <tbody>
                           
                        {% for shot in shots %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <!-- <td>{{ shot.project_name }}</td> -->
    
                                <td>
                                    <a href="javascript:void(0);" onclick="openPopupz(`{% url 'get_review_approval_info' shot.id %}`)"
                                        title="Click here to view shot info">{{ shot.shot_name }}
                                    </a>
                                </td>
    
                                    <div id="popup-container1" class="popup-container1"  onclick="closePopupz(event)">
                                        <div class="popup-content1" onclick="event.stopPropagation();">
                                            <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                            <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                        </div>
                                    </div>
    
                                <td>{{ shot.shot_version }}</td>
                                <td class="description-cell">{{ shot.dependency|safe }}</td>
                                <td class="description-cell">{{ shot.work_description }}</td>
                                                 
                                <td style="position: relative;">
                                    {% if shot.work_status == 'Assigned' %}
                                        <span style="color: orange;">{{ shot.work_status }}</span>
    
                                        <a href="javascript:void(0);" onclick="openPopupz(`{% url 'shotdep' shot.id %}`)" title="Shot assigned & status info" style="position: absolute; right: 0;"
                                            onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">&#x1F4DD;
                                        </a>
                                    {% else %}
                                        <span style="color: red;">{{ shot.work_status }}</span>
                                    {% endif %}
                                </td>
                                  
                                        <div id="popup-container1" class="popup-container1"  onclick="closePopupz(event)">
                                            <div class="popup-content1" onclick="event.stopPropagation();">
                                                <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                                <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                            </div>
                                        </div>
    
                                <td class="description-cell popup-container">
                                    {% if shot.internal_status == 'READY FOR REVIEW' and user_department.department == shot.department %}
                                        <span style="color: green;"> {{shot.internal_status}}</span> 
    
                                        <button type="button" class="btn btn-outline-success btn-sm" style="border-radius: 25px;"
                                                onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)"
                                                onclick="openPopup()" title="Review By TL"> &#10004;
                                        </button>
    
                                        <a href="{% url 're_issueshot' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}&work_description={{ shot.work_description }}&shot_version={{ shot.shot_version }}">
                                            <button type="button" class="btn btn-outline-danger btn-sm" style="border-radius: 25px;"
                                            onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)" title="Kick-back by TL">X</button>
                                        </a>
    
                                                <div id="popup" class="popup" style="display: none;">
                                                    <div class="popup-content">
                                                        <span class="popup-close" onclick="closePopup()" style="font-size: 30px;" title="Close">&times;</span>
                                                        <h5>Review Shot</h5>
                                                        <form id="review-form" method="post" action="{% url 'reviewed_shot' shot.id %}">
                                                            {% csrf_token %}
                                                            <label for="name">Enter username:</label>
                                                            <input type="text" id="name" name="name" required>
                                                            <br>
                                                            <label>Are you sure you want to review this shot?</label>
                                                            <button type="button" class="btn btn-outline-success btn-sm" onclick="confirmReview()">Yes</button>
                                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="closePopup()">Cancel</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                    {% elif 'REVIEWED' in shot.internal_status %}
                                        <span style="color: #4dc3ff;;">{{shot.internal_status}} </span> 
                                    {% elif shot.internal_status == 'WIP' %}
                                        <span style="color: orange;">{{shot.internal_status}} </span> 
                                    {% elif shot.internal_status == 'HOLD' or shot.internal_status == 'OMMIT' %}
                                        <span style="color: #ff4de1;">{{ shot.internal_status }}</span>
                                    {% elif shot.internal_status == 'YTS' %}
                                        <span style="color: red;">{{shot.internal_status}} </span>   
                                    {% else %}    
                                        <span>{{shot.internal_status}} </span>                                                         
                                    {% endif %}
                                </td>
    
                                <td>{{shot.comp_status}}</td>
                                
                                <td>                                                     
                                    <a href="{% url 'issueshot' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}&work_description={{ shot.work_description }}&shot_version={{ shot.shot_version }}"
                                        onclick="checkDependency('{{ shot.dependency }}');" class="text-success"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">Assign
                                    </a>&nbsp;
    
                                    <a href="{% url 'shot_history' shot.id %}" class="info-icon" title="View Updated Changes"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">&#9432;
                                    </a>&nbsp;
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}</div>
            </div>
  </body>
</html>




<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
                                                <!-- Popup for review shot -->

                                                <script>
                                                    function togglePopup() {
                                                        var popup = document.getElementById("popup");
                                                        if (popup.style.display === "none" || popup.style.display === "") {
                                                            popup.style.display = "block";
                                                        } else {
                                                            popup.style.display = "none";
                                                        }
                                                    }
                                                
                                                    function closePopup() {
                                                    document.getElementById("popup").style.display = "none";
                                                    }
                                                
                                                
                                                    function openPopup() {
                                                    var popup = document.getElementById('popup');
                                                    popup.style.display = 'block';
                                                    }
                                                
                                                    function closePopup() {
                                                    var popup = document.getElementById('popup');
                                                    popup.style.display = 'none';
                                                    }
                                                
                                                    function confirmReview() {
                                                        var name = document.getElementById('name').value;
                                                        if (!name) {
                                                            alert('Please enter your name.');
                                                        } else {
                                                            // Update the form action to include the name name
                                                            var form = document.getElementById('review-form');
                                                            form.action = form.action + '?name=' + name;
                                                            form.submit();
                                                        }
                                                        closePopup();
                                                    }
                                                
                                                </script>
                                                
                                                <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                                
                                                <!-- popup for shot info  outside click close -->
                                                
                                                <script>
                                                    function openPopupz(url) {
                                                    var popupContainer = document.getElementById('popup-container1');
                                                    var popupIframe = document.getElementById('popup-iframe');
                                                
                                                    popupIframe.src = url;
                                                    popupContainer.style.display = 'block';
                                                
                                                    document.body.addEventListener('click', closePopupzOutside);
                                                    }
                                                
                                                    function closePopupz() {
                                                        var popupContainer = document.getElementById('popup-container1');
                                                        popupContainer.style.display = 'none';
                                                    }
                                                </script>
                                                
                                                <!-- ------------------------------------------------------------------------------------------------------------------------- -->
                                                                                 <!-- when cursor move then highlight shot -->
                                                
                                                            <script>
                                                                function highlightShot(button) 
                                                                    {
                                                                    var row = $(button).closest('tr');
                                                                    $(row).find('td:eq(1)').addClass('highlight');
                                                                    }
                                                
                                                                function removeHighlight(button) 
                                                                    {
                                                                    var row = $(button).closest('tr');
                                                                    $(row).find('td:eq(1)').removeClass('highlight');
                                                                    }
                                                            </script>
<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
                                                <!-- Popup for review shot -->

<script>
    // After 2 seconds, refresh the page
    setTimeout(function() {
        location.reload();
    }, 300000);
</script>
