
<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
    <head> 
        <title> PMS: Task </title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/p1.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/allshot.css' %}">  
    </head>

  <body style="font-family: 'Roboto', sans-serif;">
    {% include "user/navbaradmin.html" %}
    <br><br><br>

        {% if shots %}  
             
            <table class="redTable" id="table">
                <thead>
                    <tr>
                        <th>Sr.No                  </th>
                        <!-- <th><span>Project Name     </span></th> -->
                        <th><span>Shot Name        </span></th>
                        <th><span>Shot Version     </span></th>
                        <th><span>Dependency       </span></th>
                        <th><span>Scope of Work    </span></th>
                        <th><span>Assignment       </span></th>
                        <th><span>Internal Status  </span></th>
                        <th><span>Comp Status      </span></th>
                        <th>Assign                 </th>
                    </tr>
                </thead>

                <tbody>
                       
                    {% for shot in shots %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <!-- <td>{{ shot.project_name }}</td> -->

                            <td>
                                <a href="javascript:void(0);" onclick="openPopupz(`{% url 'get_review_approval_info' shot.id %}`)"
                                    title="Click here to view shot info">{{ shot.shot_name }}
                                </a>
                            </td>

                                <div id="popup-container1" class="popup-container1"  onclick="closePopupz(event)">
                                    <div class="popup-content1" onclick="event.stopPropagation();">
                                        <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                        <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                    </div>
                                </div>

                            <td>{{ shot.shot_version }}</td>
                            <td class="description-cell">{{ shot.dependency|safe }}</td>
                            <td class="description-cell">{{ shot.work_description }}</td>
                                             
                            <td style="position: relative;">
                                {% if shot.work_status == 'Assigned' %}
                                    <span style="color: orange;">{{ shot.work_status }}</span>

                                    <a href="javascript:void(0);" onclick="openPopupz(`{% url 'shotdep' shot.id %}`)" title="Shot assigned & status info" style="position: absolute; right: 0;"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">&#x1F4DD;
                                    </a>
                                {% else %}
                                    <span style="color: red;">{{ shot.work_status }}</span>
                                {% endif %}
                            </td>
                              
                                    <div id="popup-container1" class="popup-container1"  onclick="closePopupz(event)">
                                        <div class="popup-content1" onclick="event.stopPropagation();">
                                            <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                            <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                        </div>
                                    </div>

                            <td class="description-cell popup-container">
                                {% if shot.internal_status == 'READY FOR REVIEW' %}
                                    <span style="color: green;"> {{shot.internal_status}}</span> 

                                    <button type="button" class="btn btn-outline-success btn-sm" style="border-radius: 25px;"
                                            onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)"
                                            onclick="openPopup()" title="Review By TL"> &#10004;
                                    </button>

				                    <a href="{% url 're_issueshot' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}&work_description={{ shot.work_description }}&shot_version={{ shot.shot_version }}">
                                        <button type="button" class="btn btn-outline-danger btn-sm" style="border-radius: 25px;"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)" title="Kick-back by TL">X</button>
                                    </a>

                                            <div id="popup" class="popup" style="display: none;">
                                                <div class="popup-content">
                                                    <span class="popup-close" onclick="closePopup()" style="font-size: 30px;" title="Close">&times;</span>
                                                    <h5>Review Shot</h5>
                                                    <form id="review-form" method="post" action="{% url 'reviewed_shot' shot.id %}">
                                                        {% csrf_token %}
                                                        <label for="name">Enter username:</label>
                                                        <input type="text" id="name" name="name" required>
                                                        <br>
                                                        <label>Are you sure you want to review this shot?</label>
                                                        <button type="button" class="btn btn-outline-success btn-sm" onclick="confirmReview()">Yes</button>
                                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="closePopup()">Cancel</button>
                                                    </form>
                                                </div>
                                            </div>
                                            
                                {% elif 'REVIEWED' in shot.internal_status %}
                                    <span style="color: #4dc3ff;;">{{shot.internal_status}} </span> 
                                {% elif shot.internal_status == 'WIP' %}
                                    <span style="color: orange;">{{shot.internal_status}} </span> 
                                {% elif shot.internal_status == 'HOLD' or shot.internal_status == 'OMMIT' %}
                                    <span style="color: #ff4de1;">{{ shot.internal_status }}</span>
                                {% elif shot.internal_status == 'YTS' %}
                                    <span style="color: red;">{{shot.internal_status}} </span>   
                                {% else %}    
                                    <span>{{shot.internal_status}} </span>                                                         
                                {% endif %}
                            </td>

                            <td>{{shot.comp_status}}</td>
                            
                            <td>                                                     
                                <a href="{% url 'issueshot' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}&work_description={{ shot.work_description }}&shot_version={{ shot.shot_version }}"
                                    onclick="checkDependency('{{ shot.dependency }}');" class="text-success"
                                    onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">Assign
                                </a>&nbsp;

                                <a href="{% url 'shot_history' shot.id %}" class="info-icon" title="View Updated Changes"
                                    onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">&#9432;
                                </a>&nbsp;
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %} 
            <!-- <div class="centered-text">
                <h6 style='color:rgb(244, 42, 237);'>Shot Not Available !</h6>
            </div> -->

            <div class="centered-text">
                <h5>Shot Not Available !</h5>
            </div>
        {%endif%}  
  </body>
</html>


<div class="pagination" style="float: right;">
    <span class="step-links">
        {% if shots.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <!-- <a href="?page={{ shots.previous_page_number }}">previous</a> -->
        {% endif %}

        {% for i in shots.paginator.page_range %}
            <span class="{% if i == shots.number %}current{% endif %}">
                <a href="?page={{ i }}">{{ i }}</a>
            </span>
        {% endfor %}

        {% if shots.has_next %}
            <!-- <a href="?page={{ shots.next_page_number }}">next</a> -->
            <a href="?page={{ shots.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

  

<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
                                                <!-- Popup for review shot -->

<script>
    function togglePopup() {
        var popup = document.getElementById("popup");
        if (popup.style.display === "none" || popup.style.display === "") {
            popup.style.display = "block";
        } else {
            popup.style.display = "none";
        }
    }

    function closePopup() {
    document.getElementById("popup").style.display = "none";
    }


    function openPopup() {
    var popup = document.getElementById('popup');
    popup.style.display = 'block';
    }

    function closePopup() {
    var popup = document.getElementById('popup');
    popup.style.display = 'none';
    }

    function confirmReview() {
        var name = document.getElementById('name').value;
        if (!name) {
            alert('Please enter your name.');
        } else {
            // Update the form action to include the name name
            var form = document.getElementById('review-form');
            form.action = form.action + '?name=' + name;
            form.submit();
        }
        closePopup();
    }

</script>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<!-- popup for shot info  outside click close -->

<script>
    function openPopupz(url) {
    var popupContainer = document.getElementById('popup-container1');
    var popupIframe = document.getElementById('popup-iframe');

    popupIframe.src = url;
    popupContainer.style.display = 'block';

    document.body.addEventListener('click', closePopupzOutside);
    }

    function closePopupz() {
        var popupContainer = document.getElementById('popup-container1');
        popupContainer.style.display = 'none';
    }
</script>

<!-- ------------------------------------------------------------------------------------------------------------------------- -->
                                 <!-- when cursor move then highlight shot -->

            <script>
                function highlightShot(button) 
                    {
                    var row = $(button).closest('tr');
                    $(row).find('td:eq(2)').addClass('highlight');
                    }

                function removeHighlight(button) 
                    {
                    var row = $(button).closest('tr');
                    $(row).find('td:eq(2)').removeClass('highlight');
                    }
            </script>



<script>
    // After 2 seconds, refresh the page
    setTimeout(function() {
        location.reload();
    }, 300000);
</script>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->               
                                 <!-- column multiple search filter  -->
                             
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.getElementById('table');
        const headers = table.getElementsByTagName('th');
        const storedFilters = JSON.parse(sessionStorage.getItem('tableFilters')) || {};

        // Update filter symbols and apply stored filters
        for (let i = 1; i < headers.length - 1; i++) {
            const filterSymbol = document.createElement('span');
            filterSymbol.innerHTML = '<span style="font-size: smaller;">&#9660;</span>';
            filterSymbol.style.cursor = 'pointer';
            filterSymbol.onclick = function () {
                showFilterDropdown(i);
            };
            headers[i].innerHTML = headers[i].textContent;          // Clear existing content
            headers[i].appendChild(filterSymbol);

            // Check if a filter is applied to this header
            if (storedFilters[i] && storedFilters[i] !== 'all') {
                applyFilter(i, storedFilters[i]);
                // Highlight the filter symbol for this header
                highlightFilterSymbol(i, '#ffcc00');  // Change color to your preference
            }
        }

        function showFilterDropdown(columnIndex) {
            // Check if the dropdown is already open
            const existingDropdown = document.getElementById('filterDropdown');
            if (existingDropdown) {
                // Dropdown is open, close it
                document.body.removeChild(existingDropdown);
                return;
            }

            const values = Array.from(new Set(Array.from(table.rows).slice(1).map(row => row.cells[columnIndex].textContent)));
            const dropdown = document.createElement('select');
            dropdown.id = 'filterDropdown'; // Set an ID to easily identify the dropdown
            dropdown.innerHTML = '<option value="all" style="text-align:center">All</option>';

            // Modify to create a multiple selection dropdown
            dropdown.multiple = true;

            values.forEach(value => {
                const option = document.createElement('option');
                option.value = value;
                option.text = value;
                dropdown.add(option);
            });

            // Set selected values from stored filters
            if (storedFilters[columnIndex] && storedFilters[columnIndex] !== 'all') {
                const selectedValues = storedFilters[columnIndex].split(',');
                Array.from(dropdown.options).forEach(option => {
                    option.selected = selectedValues.includes(option.value);
                });
            }

            dropdown.onchange = function () {
                const selectedOptions = Array.from(this.options).filter(option => option.selected);
                const selectedValues = selectedOptions.map(option => option.value).join(',');

                applyFilter(columnIndex, selectedValues);

                // Highlight the filter symbol for this header
                if (selectedValues === 'all') {
                    highlightFilterSymbol(columnIndex, ''); // Remove highlight when 'All' is selected
                } else {
                    highlightFilterSymbol(columnIndex, '#ffcc00'); // Change color to your preference
                }

                document.body.removeChild(dropdown);
            };

            const filterSymbol = headers[columnIndex].lastChild;
            const rect = filterSymbol.getBoundingClientRect();
            dropdown.style.position = 'absolute';
            dropdown.style.top = rect.bottom + 'px';
            dropdown.style.left = rect.left + 'px';
            document.body.appendChild(dropdown);
        }



        function applyFilter(columnIndex, filterValue) {
            storedFilters[columnIndex] = filterValue;
            for (let i = 1; i < table.rows.length; i++) {
                let rowMatchesFilters = true;
                for (const index in storedFilters) {
                    const cellValue = table.rows[i].cells[index].textContent;
                    const filterValues = storedFilters[index].split(',');
                    if (storedFilters[index] !== 'all' && !filterValues.includes(cellValue)) {
                        rowMatchesFilters = false;
                        break;
                    }
                }
                table.rows[i].style.display = rowMatchesFilters ? '' : 'none';
            }
            sessionStorage.setItem('tableFilters', JSON.stringify(storedFilters));
        }


        function highlightFilterSymbol(columnIndex, color) {
            // Change the color of the filter symbol for the specified header
            const filterSymbol = headers[columnIndex].lastChild;
            filterSymbol.style.color = color;
        }
        
    });
</script> 
