
<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
    <head> 
        <title> PMS: Task </title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/p1.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/allshot.css' %}">  
    </head>

  <body style="font-family: 'Roboto', sans-serif;">
    {% include "user/navbaradmin.html" %}
    <br>
    <br>

            <div class="p-2 mb-2 text-black" style = 'margin-top:5px;'>
                <div style = 'display: inline-block;'>
                    
                    {% if user_department.department == 'Production' or user_department.department == 'Pipeline' or user_department.department == 'Management' %}
                        <a href="{% url 'allproject' %}"     style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Production </a>
                    {%else%}
                        <a href="#" title="Only For Production & Management"    style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Production </a>
                    {%endif%}

                    <a href="{% url 'mandays' %}"        style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Mandays</a>
                    <a href="{% url 'viewissuedshot' %}" style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Artist</a>
                    <a href="{% url 'mang_message1' %}"  style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn"> Management</a>
                </div>

                <div style = 'display: inline-block; font-size: 18px; margin-left:400px; color:white'>
                    <h5 style="border-radius: 35px; text-align:center; background-color: #656262; display: inline-block; width: 250px; height:25px;">
                        <small>All Shots </small>: {{request.GET.text|slice:":10"}}{% if request.GET.text|length > 10 %}...{% endif %}
                     </h5>
                </div>
            </div>

            <!-- --- ----------------------------------------- -->
            <div style="display: flex;">
                <div>
                    <table class="redTable1" style="width:100px">
                        <thead>
                            <tr>
                                <th>All Projects </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for each in projects %}
                                <tr>
                                    <td style="position: relative;">
                                        <div style="display: flex; justify-content: space-between; align-items: center;">
                                            <a href="{% url 'allshot_project' project_name=each.project_name %}?text={{ each.project_name }}" title="{{ each.project_name }} ({{each.num_shots}})" 
                                                style='border-radius: 25px; text-align: center; width: calc(100%); overflow: hidden; white-space: nowrap; text-overflow: ellipsis;'
                                                class="btn btn-outline-primary btn-sm" 
                                                role="button" aria-pressed="true">
                                                {{ each.project_name|slice:":10" }}{% if each.project_name|length > 10 %}...{% endif %}
                                            </a>
                                            <span style="text-align: right; width: 50px;">({{ each.num_shots }})</span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>
                
        <!-- -------------------------------------------------------- -->
            <div>
                {% if project_name %}

                <table class="redTable" id="table" style="width: 1820px;">
                    <thead>
                        <tr>
                            <th>Sr.No                  </th>
                            <!-- <th><span>Project Name     </span></th> -->
                            <th><span>Shot Name        </span></th>
                            <th><span>Shot Version     </span></th>
                            <th><span>Dependency       </span></th>
                            <th><span>Scope of Work    </span></th>
                            <th><span>Assignment       </span></th>
                            <th><span>Internal Status  </span></th>
                            <th><span>Comp Status      </span></th>
                            <th>Assign                 </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                           
                        {% for shot in shots %}
                             <tr>
                                <td>{{ forloop.counter }}</td>
                                <!-- <td>{{ shot.project_name }}</td> -->
    
                                <td>
                                    <a href="javascript:void(0);" onclick="openPopupz(`{% url 'get_review_approval_info' shot.id %}`)"
                                        title="Click here to view shot info">{{ shot.shot_name }}
                                    </a>
                                </td>
    
                                    <div id="popup-container1" class="popup-container1"  onclick="closePopupz(event)">
                                        <div class="popup-content1" onclick="event.stopPropagation();">
                                            <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                            <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                        </div>
                                    </div>
    
                                <td>{{ shot.shot_version }}</td>
                                <td class="description-cell">{{ shot.dependency|safe }}</td>
                                <td class="description-cell">{{ shot.work_description }}</td>
                                                 
                                <td style="position: relative;">
                                    {% if shot.work_status == 'Assigned' %}
                                        <span style="color: orange;">{{ shot.work_status }}</span>
    
                                        <a href="javascript:void(0);" onclick="openPopupz(`{% url 'shotdep' shot.id %}`)" title="Shot assigned & status info" style="position: absolute; right: 0;"
                                            onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">&#x1F4DD;
                                        </a>
                                    {% else %}
                                        <span style="color: red;">{{ shot.work_status }}</span>
                                    {% endif %}
                                </td>
                                  
                                        <div id="popup-container1" class="popup-container1"  onclick="closePopupz(event)">
                                            <div class="popup-content1" onclick="event.stopPropagation();">
                                                <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                                <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                            </div>
                                        </div>
    
                                <td class="description-cell popup-container">
                                    {% if shot.internal_status == 'READY FOR REVIEW' and user_department.department == shot.department %}
                                        <span style="color: green;"> {{shot.internal_status}}</span> 
    
                                        <button type="button" class="btn btn-outline-success btn-sm" style="border-radius: 25px;"
                                                onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)"
                                                onclick="openPopup()" title="Review By TL"> &#10004;
                                        </button>
    
                                        <a href="{% url 're_issueshot' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}&work_description={{ shot.work_description }}&shot_version={{ shot.shot_version }}">
                                            <button type="button" class="btn btn-outline-danger btn-sm" style="border-radius: 25px;"
                                            onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)" title="Kick-back by TL">X</button>
                                        </a>
    
                                                <div id="popup" class="popup" style="display: none;">
                                                    <div class="popup-content">
                                                        <span class="popup-close" onclick="closePopup()" style="font-size: 30px;" title="Close">&times;</span>
                                                        <h5>Review Shot</h5>
                                                        <form id="review-form" method="post" action="{% url 'reviewed_shot' shot.id %}">
                                                            {% csrf_token %}
                                                            <label for="name">Enter username:</label>
                                                            <input type="text" id="name" name="name" required>
                                                            <br>
                                                            <label>Are you sure you want to review this shot?</label>
                                                            <button type="button" class="btn btn-outline-success btn-sm" onclick="confirmReview()">Yes</button>
                                                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="closePopup()">Cancel</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                    {% elif 'REVIEWED' in shot.internal_status %}
                                        <span style="color: #4dc3ff;;">{{shot.internal_status}} </span> 
                                    {% elif shot.internal_status == 'WIP' %}
                                        <span style="color: orange;">{{shot.internal_status}} </span> 
                                    {% elif shot.internal_status == 'HOLD' or shot.internal_status == 'OMMIT' %}
                                        <span style="color: #ff4de1;">{{ shot.internal_status }}</span>
                                    {% elif shot.internal_status == 'YTS' %}
                                        <span style="color: red;">{{shot.internal_status}} </span>   
                                    {% else %}    
                                        <span>{{shot.internal_status}} </span>                                                         
                                    {% endif %}
                                </td>
    
                                <td>{{shot.comp_status}}</td>
                                
                                <td>                                                     
                                    <a href="{% url 'issueshot' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}&work_description={{ shot.work_description }}&shot_version={{ shot.shot_version }}"
                                        onclick="checkDependency('{{ shot.dependency }}');" class="text-success"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">Assign
                                    </a>&nbsp;
    
                                    <a href="{% url 'shot_history' shot.id %}" class="info-icon" title="View Updated Changes"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">&#9432;
                                    </a>&nbsp;
                                </td>
                            </tr>
                       
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
  </body>
</html>


<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
                                                <!-- Popup for review shot -->

                                                <script>
                                                    function togglePopup() {
                                                        var popup = document.getElementById("popup");
                                                        if (popup.style.display === "none" || popup.style.display === "") {
                                                            popup.style.display = "block";
                                                        } else {
                                                            popup.style.display = "none";
                                                        }
                                                    }
                                                
                                                    function closePopup() {
                                                    document.getElementById("popup").style.display = "none";
                                                    }
                                                
                                                
                                                    function openPopup() {
                                                    var popup = document.getElementById('popup');
                                                    popup.style.display = 'block';
                                                    }
                                                
                                                    function closePopup() {
                                                    var popup = document.getElementById('popup');
                                                    popup.style.display = 'none';
                                                    }
                                                
                                                    function confirmReview() {
                                                        var name = document.getElementById('name').value;
                                                        if (!name) {
                                                            alert('Please enter your name.');
                                                        } else {
                                                            // Update the form action to include the name name
                                                            var form = document.getElementById('review-form');
                                                            form.action = form.action + '?name=' + name;
                                                            form.submit();
                                                        }
                                                        closePopup();
                                                    }
                                                
                                                </script>
                                                
                                                <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                                
                                                <!-- popup for shot info  outside click close -->
                                                
                                                <script>
                                                    function openPopupz(url) {
                                                    var popupContainer = document.getElementById('popup-container1');
                                                    var popupIframe = document.getElementById('popup-iframe');
                                                
                                                    popupIframe.src = url;
                                                    popupContainer.style.display = 'block';
                                                
                                                    document.body.addEventListener('click', closePopupzOutside);
                                                    }
                                                
                                                    function closePopupz() {
                                                        var popupContainer = document.getElementById('popup-container1');
                                                        popupContainer.style.display = 'none';
                                                    }
                                                </script>
                                                
                                                <!-- ------------------------------------------------------------------------------------------------------------------------- -->
                                                                                 <!-- when cursor move then highlight shot -->
                                                
                                                            <script>
                                                                function highlightShot(button) 
                                                                    {
                                                                    var row = $(button).closest('tr');
                                                                    $(row).find('td:eq(1)').addClass('highlight');
                                                                    }
                                                
                                                                function removeHighlight(button) 
                                                                    {
                                                                    var row = $(button).closest('tr');
                                                                    $(row).find('td:eq(1)').removeClass('highlight');
                                                                    }
                                                            </script>
<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
                                                <!-- Popup for review shot -->

<script>
    // After 2 seconds, refresh the page
    setTimeout(function() {
        location.reload();
    }, 300000);
</script>



     <!-- only single selected checkboc search and display  -->
    

    <!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.getElementById('table');
        const headers = table.getElementsByTagName('th');
        let storedFilters = JSON.parse(sessionStorage.getItem('tableFilters')) || {};

        // Update filter symbols and apply stored filters
        for (let i = 1; i < headers.length - 1; i++) {
            const filterSymbol = document.createElement('span');
            filterSymbol.innerHTML = '<span style="font-size: smaller;">&#9660;</span>';
            filterSymbol.style.cursor = 'pointer';
            filterSymbol.onclick = function () {
                showFilterDropdown(i);
            };
            headers[i].innerHTML = headers[i].textContent;          // Clear existing content
            headers[i].appendChild(filterSymbol);

            // Check if a filter is applied to this header for this project
            const projectName = "{{ project_name }}"; // Get the current project name
            if (storedFilters[projectName] && storedFilters[projectName][i] && storedFilters[projectName][i] !== 'all') {
                applyFilter(i, storedFilters[projectName][i]);
                // Highlight the filter symbol for this header
                highlightFilterSymbol(i, '#ffcc00');  // Change color to your preference
            }
        }

        function showFilterDropdown(columnIndex) {
            // Check if the dropdown is already open
            const existingDropdown = document.getElementById('filterDropdown');
            if (existingDropdown) {
                // Dropdown is open, close it
                document.body.removeChild(existingDropdown);
                return; // Return to prevent creating a new dropdown
            }

            const values = Array.from(new Set(Array.from(table.rows).slice(1).map(row => row.cells[columnIndex].textContent.split(',').map(item => item.trim())).flat()));
            const dropdown = document.createElement('div');
            dropdown.id = 'filterDropdown'; // Set an ID to easily identify the dropdown
            dropdown.style.position = 'absolute';
            dropdown.style.backgroundColor = 'lightgray'; // Background color added here

            const allCheckbox = document.createElement('input');
            allCheckbox.type = 'checkbox';
            allCheckbox.value = 'all';
            const projectName = "{{ project_name }}"; // Get the current project name
            allCheckbox.checked = storedFilters[projectName] && storedFilters[projectName][columnIndex] === 'all';

            allCheckbox.onclick = function () {
                if (this.checked) {
                    applyFilter(columnIndex, 'all');
                    const checkboxes = dropdown.querySelectorAll('input[type="checkbox"]:not([value="all"])');
                    checkboxes.forEach(checkbox => checkbox.checked = false);
                    // Close dropdown after selecting 'All'
                    document.body.removeChild(dropdown);
                    // Unhighlight the color of the filter symbol immediately
                    highlightFilterSymbol(columnIndex, ''); // Change color to your preference
                }
            };

            dropdown.appendChild(allCheckbox);
            dropdown.appendChild(document.createTextNode('All'));
            dropdown.appendChild(document.createElement('br'));

            values.forEach(value => {
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.value = value;
                const projectName = "{{ project_name }}"; // Get the current project name
                checkbox.checked = storedFilters[projectName] && storedFilters[projectName][columnIndex] === value;
                checkbox.onclick = function () {
                    if (this.checked) {
                        applyFilter(columnIndex, this.value);
                        allCheckbox.checked = false;
                        // Highlight filter symbol immediately
                        highlightFilterSymbol(columnIndex, '#ffcc00');
                    } else {
                        applyFilter(columnIndex, 'all');
                        // Clear color of filter symbol immediately
                        highlightFilterSymbol(columnIndex, 'black');
                    }
                    // Close dropdown after selecting an option
                    // document.body.removeChild(dropdown);
                };
                dropdown.appendChild(checkbox);
                dropdown.appendChild(document.createTextNode(value));
                dropdown.appendChild(document.createElement('br'));
            });

            const filterSymbol = headers[columnIndex].lastChild;
            const rect = filterSymbol.getBoundingClientRect();

            // Calculate position relative to the table cell
            const tdRect = headers[columnIndex].getBoundingClientRect();
            dropdown.style.top = tdRect.bottom + window.scrollY + 'px';
            dropdown.style.left = tdRect.left + window.scrollX + 'px';
            document.body.appendChild(dropdown);
        }


        function applyFilter(columnIndex, filterValue) {
            for (let i = 1; i < table.rows.length; i++) {
                const cellValue = table.rows[i].cells[columnIndex].textContent;
                if (filterValue === 'all' || cellValue.includes(filterValue)) {
                    table.rows[i].style.display = '';
                } else {
                    table.rows[i].style.display = 'none';
                }
            }
            const projectName = "{{ project_name }}"; // Get the current project name
            if (!storedFilters[projectName]) {
                storedFilters[projectName] = {};
            }
            storedFilters[projectName][columnIndex] = filterValue;
            sessionStorage.setItem('tableFilters', JSON.stringify(storedFilters));
        }

        function highlightFilterSymbol(columnIndex, color) {
            // Change the color of the filter symbol for the specified header
            const filterSymbol = headers[columnIndex].lastChild;
            filterSymbol.style.color = color;
        }
    });
</script>  -->



