<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <title> PMS: Management </title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/p1.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mang_message1.css' %}">
    </head>

  <body style="font-family: 'Roboto', sans-serif;">
    {% include "user/navbaradmin.html" %}
    <br>
    <br>  
            <div class="p-2 mb-2 text-black" style="font-size: 18px;">
                <div style = 'display: inline-block;'>
                    
                    {% if user_department.department == 'Production' or user_department.department == 'Pipeline' or user_department.department == 'Management' %}
                        <a href="{% url 'allproject' %}"     style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Production </a>
                    {%else%}
                        <a href="#" title="Only For Production & Management"    style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Production </a>
                    {%endif%}
                    
                    <a href="{% url 'allshot' %}"        style='border-radius: 15px; text-align: center;'  class="btn btn-outline-dark btn-sm fixed-width-btn">Task</a>
                    <a href="{% url 'mandays' %}"        style='border-radius: 15px; text-align: center;'  class="btn btn-outline-dark btn-sm fixed-width-btn">Mandays</a>
                    <a href="{% url 'viewissuedshot' %}" style='border-radius: 15px; text-align: center;'  class="btn btn-outline-dark btn-sm fixed-width-btn">Artist</a>
                </div>

                <div style = 'display: inline-block;  margin-left:500px; margin-top:5px; color:white'>
                    <h5 style="border-radius: 35px; text-align:center; background-color: #656262; width: 150px; height:25px;">Management</h5>
                </div>
            </div>
                

        {% if shots%}

            <table class="redTable" id="table">
                <thead>
                    <tr>
                        <th>Sr.No </th>
                        <th><span>Project Name  </span>  </th>
                        <th><span>Shot Name     </span>  </th>
                        <th><span>Shot Version  </span>  </th>
                        <th><span>Dependency    </span>  </th>
                        <th><span>Scope of Work </span>  </th>
                        <th><span>Assignment    </span>  </th>
                        <th><span>Int Status    </span>  </th>
                        <th>Approval Status </th>
                    </tr>
                </thead>

                <tbody>
                    {% for shot in shots %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ shot.project_name }}</td>

                            <td>
                                <a href="javascript:void(0);" onclick="openPopupz(`{% url 'get_review_approval_info' shot.id %}`)"
                                    title="Click here to view shot info">{{ shot.shot_name }}
                                </a>
                            </td>

                                <div id="popup-container1" class="popup-container1"  onclick="closePopupz(event)">
                                    <div class="popup-content1" onclick="event.stopPropagation();">
                                        <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                        <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                    </div>
                                </div>

                            <td>{{ shot.shot_version }}</td>
                            <td>{{ shot.dependency|safe }}</td>
                            <td class="description-cell">{{ shot.work_description }}</td>
                            
                            <td style="position: relative;">
                                {% if shot.work_status == 'Assigned' %}
                                    <span style="color: orange;">{{ shot.work_status }}</span>

                                    <a href="javascript:void(0);" onclick="openPopupz(`{% url 'shotdep' shot.id %}`)" title="Shot assigned & status info" style="position: absolute; right: 0;"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">&#x1F4DD;
                                    </a>
                                {% else %}
                                    <span style="color: red;">{{ shot.work_status }}</span>
                                {% endif %}
                            </td>
                              
                                    <div id="popup-container1" class="popup-container1"  onclick="closePopupz(event)">
                                        <div class="popup-content1" onclick="event.stopPropagation();">
                                            <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                            <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                        </div>
                                    </div>
                            
                            <td>
                                {% if shot.internal_status == 'READY FOR REVIEW' %}
                                    <span style="color: green;">{{ shot.internal_status }}</span>
                                {% elif 'REVIEWED' in shot.internal_status %}
                                    <span style="color: #4dc3ff;;">{{shot.internal_status}}</span>    
                                {% elif shot.internal_status == 'WIP'  %}
                                    <span style="color: orange;">{{ shot.internal_status }}</span>
                                {% elif shot.internal_status == 'HOLD' or shot.internal_status == 'OMMIT' %}
                                    <span style="color: #ff4de1;">{{ shot.internal_status }}</span>
                                {% elif shot.internal_status == 'YTS' %}
                                    <span style="color: red;">{{shot.internal_status}} </span>   
                                {% else %}    
                                    <span>{{shot.internal_status}}</span>                                                         
                                {% endif %}
                            </td>

                            {% if shot.final_status == 'Approved By Sup' %}
                                <td style="color: green;">Approved By Sup</td>
                            {% else %}
                                <td>
                                    {% if 'Approved By Lead' in shot.internal_status and user_department.department == shot.dep1 %}
                                        <a href="{% url 'final_approved_shot' shot.id %}">
                                            <button type="button" class="btn btn-outline-success btn-sm" style="border-radius: 25px;"
                                                onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)"
                                                onclick="return confirm('Are you sure, you want to approve this?');" title="Approve By Sup/Mang.">&#10004;
                                            </button>
                                        </a>
                                        
                                        <a href="{% url 're_issueshot_sup' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}&work_description={{ shot.work_description }}&shot_version={{ shot.shot_version }}">
                                            <button type="button" class="btn btn-outline-danger btn-sm" style="border-radius: 25px;"
                                                onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)" title="Kick-back By Sup">X
                                            </button>
                                        </a>
                                    {% else %} 
                                        <a href="#"><button type="button" style="border-radius: 25px;" class="btn btn-outline-success btn-sm" disabled>&#10004;</button></a>
                                    {% endif %}  
                                </td>  
                        </tr>
                        {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <!-- <div class="centered-text">
                <h6 style='color:rgb(244, 42, 237);'>Shots Not Available For Approval !</h6>
            </div> -->

            <div class="centered-text">
                <h5>Shots Not Available For Approval !</h5>
            </div>
        {%endif%}  
       
  </body>
</html><br>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                 <!-- popup for shot info -->

                                 <script>
                                    function openPopupz(url) {
                                    var popupContainer = document.getElementById('popup-container1');
                                    var popupIframe = document.getElementById('popup-iframe');
                                
                                    popupIframe.src = url;
                                    popupContainer.style.display = 'block';
                                
                                    document.body.addEventListener('click', closePopupzOutside);
                                    }
                                
                                    function closePopupz() {
                                        var popupContainer = document.getElementById('popup-container1');
                                        popupContainer.style.display = 'none';
                                    }
                                </script>

<!-- ------------------------------------------------------------------------------------------------------------------------- -->
                             <!-- when cursor move highlight shot -->

<script>
    function highlightShot(button) {
    var row = $(button).closest('tr');
    $(row).find('td:eq(2)').addClass('highlight');
    }

    function removeHighlight(button) {
    var row = $(button).closest('tr');
    $(row).find('td:eq(2)').removeClass('highlight');
    }
    </script>  
                    
                            
<!-- ------------------------------------------------------------------------------------------------------------------------- -->
             


<script>
    // After 2 seconds, refresh the page
    setTimeout(function() {
        location.reload();
    }, 300000);
</script>

