<!DOCTYPE html>
{% load static %}
<!-- ⌛️ -->
<html lang="en" dir="ltr">
    <head> 
        <title>PMS: Search All </title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/p1.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/search_all_admin.css' %}">
    </head>

  <body style="font-family: 'Roboto', sans-serif;">
    {% include "user/navbaradmin.html" %}
    <br>
    <br>
    <br>
        {% if results %}
                
            <table class="redTable" id="table">
                <thead>
                    <tr>
                        <th>Sr.No </th>
                        <th>Project Name  </th>
                        <th>Shot Name     </th>
                        <th>Shot Version  </th>
                        <th>Dependency    </th>
                        <th>Scope of Work </th>
                        <th>Created Date  </th>
                        <th>TGT Date      </th>
                        <th>Assignment    </th>
                        <th>Int. Status   </th>
                        <th>Assign </th>
                    </tr>
                </thead>

                <tbody>
                       
                    {% for shot in results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ shot.project_name }}</td>
                            <!-- <td>{{ shot.shot_name }}</td> -->

                            <td>
                                <a href="javascript:void(0);" onclick="openPopupz(`{% url 'get_review_approval_info' shot.id %}`)"
                                    title="Click here to view shot info">{{ shot.shot_name }}
                                </a>
                            </td>

                                <div id="popup-container1" class="popup-container1">
                                    <div class="popup-content1">
                                        <span class="close-button1" onclick="closePopupz()" title="Close">&times;</span>
                                        <iframe id="popup-iframe" src="" frameborder="0"></iframe>
                                    </div>
                                </div>

                            <td>{{ shot.shot_version }}</td>
                            <td class="description-cell">{{ shot.dependency|safe }}</td>
                            <td class="description-cell">{{ shot.work_description }}</td>
                            <td>{{ shot.date_started | date:"d/m/Y"  }}</td>
                            <td>{{ shot.eta | date:"d/m/Y"  }}</td> 
        
                            <td>
                                {% if shot.work_status == 'Assigned' %}
                                    <span style="color: orange;">{{ shot.work_status }}</span>
                                {% else %}
                                    <span style="color: red;">{{ shot.work_status }}</span>
                                {% endif %}
                            </td>

                            <td class="description-cell">
                                {% if shot.internal_status == 'READY FOR REVIEW' %}
                                    <span style="color: green;"> {{shot.internal_status}}</span> 
                                    <a href="{% url 'reviewed_shot' shot.id %}">
                                        <button type="button" class="btn btn-outline-success btn-sm"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)"
                                        onclick="return confirm('Are you sure, you want to reviewed this?');"> &#10004;</button>
                                    </a>
                                        
                                    <a href="{% url 're_issueshot' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}">
                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)" >&#10060;</button>
                                    </a>
                                {% elif shot.internal_status == 'REVIEWED' %}
                                    <span style="color: #4dc3ff;;">{{shot.internal_status}} </span> 
                                {% elif shot.internal_status == 'WIP' %}
                                    <span style="color: orange;">{{shot.internal_status}} </span> 
                                {% elif shot.internal_status == 'HOLD' or shot.internal_status == 'OMMIT' %}
                                    <span style="color: #ff4de1;">{{ shot.internal_status }}</span>
                                {% elif shot.internal_status == 'YTS' %}
                                    <span style="color: red;">{{shot.internal_status}} </span>   
                                {% else %}    
                                    <span>{{shot.internal_status}} </span>                                                         
                                {% endif %}
                            </td>
                            
                            <td>                                                     
                                <a href="{% url 'issueshot' %}?shot_name={{ shot.shot_name }}&project_name={{ shot.project_name }}"
                                    onclick="checkDependency('{{ shot.dependency }}');" class="text-success"
                                        onmouseover="highlightShot(this)" onmouseout="removeHighlight(this)">Assign
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="centered-text">
                <h5>Shot Not Available !</h5>
            </div>
        {%endif%}   
      
  </body>
</html><br>

<!-- ------------------------------------------------------------------------------------------------------------------------- -->
                        <!-- highlighted shot name  -->

<script>
    function highlightShot(button) 
        {
        var row = $(button).closest('tr');
        $(row).find('td:eq(2)').addClass('highlight');
        }

    function removeHighlight(button) 
        {
        var row = $(button).closest('tr');
        $(row).find('td:eq(2)').removeClass('highlight');
        }
</script>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                 <!-- popup for shot info -->

    <script>
        function openPopupz(url) {
        var popupContainer = document.getElementById('popup-container1');
        var popupIframe = document.getElementById('popup-iframe');
    
        popupIframe.src = url;
        popupContainer.style.display = 'block';
    }
    
    function closePopupz() {
        var popupContainer = document.getElementById('popup-container1');
        popupContainer.style.display = 'none';
    }
    
    </script>