<!DOCTYPE html>
<html>
<head>
    <title>Shot Department Notes</title>
</head>
<body style="font-family: 'Roboto', sans-serif;">

    <h3 style="text-align: center;">Shot Name : {{ shot.shot_name }}</h3>

    <h4>Assigned Department </h4>
        {% if dep_notes %}
            <ul>
                {% for dep_note in dep_notes %}
                    <li>{{ dep_note.depnotes }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <ul><li>Not assigned to any department</li></ul>
        {% endif %}

    <!-- ------------------------------------------------------------------- -->

    <h4>Work Status Department </h4>
    {% if recdepnotes %}
        {% for department, notes in recdepnotes.items %}
            <h4>{{ department }}</h4>
            <ul>
                {% for note in notes %}
                    <li>{{ note }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <ul><li>Status not updated yet</li></ul>
    {% endif %}



    <!-- ------------------------------------------------------------------- -->

</body>
</html>
