<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PMS: Artist</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/p1.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/studentclick.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body style="font-family: 'Roboto', sans-serif;">
      {% include "user/navbar.html" %} <br><br><br><br><br><br>

      <div class="jumbotron">
        <h2 style="text-align:center; color:rgb(241, 235, 227)">Artist</h2>
        <h6 style="text-align:center; color:rgb(241, 235, 227)" >Welcome To Project Management System !</h6>
        <h6 style="text-align:center; color:rgb(241, 235, 227)">You can access various features after Sign In/Sign Up.</h6>
        <hr class="my-4">
        
        <h1 class="lead">
          <a style='border-radius: 30px; text-align: center; color:black' class="btn btn-outline-secondary"  href="/studentsignup" role="button">Sign Up</a>
          <a style='border-radius: 30px; text-align: center; color:black' class="btn btn-outline-secondary" href="/studentlogin" role="button">Sign In</a>
        </h1>
      </div>
      
  </body>
</html>