<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PMS: Artist</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/p1.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/viewissuedshot.css' %}">
        <style>
            .active-filter {
                color: yellow; /* Change the color to yellow when a filter is active */
            }
        </style>
    </head>
  <body style="font-family: 'Roboto', sans-serif;">
        {% include "user/navbaradmin.html" %}
        <br>
        <br>
            <div class="p-2 mb-2 text-black" style = 'margin-top:5px; font-size: 18px;' >
                <div style = 'display: inline-block;'>
                    
                    {% if user_department.department == 'Production' or user_department.department == 'Pipeline' or user_department.department == 'Management' %}
                        <a href="{% url 'allproject' %}"     style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Production </a>
                    {%else%}
                        <a href="#" title="Only For Production & Management"    style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Production </a>
                    {%endif%}
                    
                    <a href="{% url 'allshot' %}"       style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Task </a>
                    <a href="{% url 'mandays' %}"       style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Mandays </a>
                    <a href="{% url 'mang_message1' %}" style='border-radius: 15px; text-align: center;' class="btn btn-outline-dark btn-sm fixed-width-btn">Management </a>
                </div>

                <div style = 'display: inline-block;  margin-left:450px; color:white'>
                    <h5 style="border-radius: 35px; text-align:center; background-color: #656262; width: 180px; height:25px;">Assigned Shot</h5>
                </div>
            </div>

            <div class="search-container">
                <!-- The annotation image disply -->
                <div id="imageModal" class="modal">
                    <span class="close" id="closeButton" title="Close">&times;</span>
                    <img id="modalImage" src="" alt="Image" style="width: 100%; height: 100%;">
                </div>
            </div>

        {% if li %}
        
            <table class="redTable" id="table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th> <span>Artist             </span> </th>
                        <th> <span>Department         </span> </th>
                        <th> <span>Project Name       </span> </th>
                        <th> <span>Shot Name          </span> </th>
                        <th> <span>Shot Version       </span> </th>
                        <th> <span>Scope of Work      </span> </th>  
                        <th> <span>Shot Issued        </span> </th>
                        <th> <span>Shot ETA           </span> </th>
                        <th> <span>Shot Status        </span> </th>
                        <th> <span>Feedback           </span> </th>
                        <th> <span>Comment by Artist  </span> </th>
                        <th> <span>Overdue            </span> </th>
                        <th> <span>Manday             </span> </th>
                        <th>Fbk. Img</th>
                        <th>Annot. Img</th>   
                    </tr>

                </thead>

                <tbody>
                    {% for each in li %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{each.0}}</td>
                            <td>{{each.3}}</td>
                            <td>{{each.1}}</td>
                            <td>{{each.2}}</td>
                            <td>{{each.13}}</td>
                            <td class="description-cell">{{each.14}}</td>
                            <td>{{each.4 | date:"d/m/Y"}}</td>
                            <td>{{each.5 | date:"d/m/Y"}}</td>

                            <td>
                                {% if each.6  == 'DONE' or each.6  == 'READY FOR REVIEW' %}
                                    <span style="color: green;">{{ each.6  }} <br>({{ each.12 | date:"d/m/Y" }})</span>    
                                {% elif each.6  == 'Assigned' %}
                                    <span style="color: orange;">{{ each.6  }}</span>
                                {% elif each.6  == 'WIP' %}
                                    <span style="color: orange;">{{ each.6  }}</span>
                                {% elif each.6  == 'HOLD' %}
                                    <span style="color: orange;">{{ each.6  }} <br>({{ each.12 | date:"d/m/Y" }})</span>
                                {% else %}
                                    <span style="color: red;">{{ each.6  }}</span>
                                {% endif %}
                            </td>

                            <td>{{each.7 }}</td>
                            <td>{{each.8 }}</td>

                            {% if each.9 == 0 %}
                                <td> {{each.9}} </td>
                            {% else %}
                                <td style="color:red"> {{each.9}} </td>
                            {% endif %}

                            <td>{{each.10}}</td>

                            <td>
                                {% if each.16 %}
                                    <img src="{{ each.16.url }}" class="rounded-circle" alt="img" width="20" height="20" title="Double click to view">
                                {% else %}
                                     No img
                                {% endif %}
                            </td> 

                            <td>
                                {% if each.15 %}
                                    <img src="{{ each.15.url }}" class="rounded-circle" alt="img" width="20" height="20" title="Double click to view">
                                {% else %}
                                     No img
                                {% endif %}
                            </td>                         
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%else%}
            <!-- <div class="centered-text">
                <h6 style='color:rgb(244, 42, 237);'>No Shot Assigned !</h6>
            </div> -->

            <div class="centered-text">
                <h5>No Shot Assigned !</h5>
            </div>
        {%endif%}

  </body>
</html><br>

<!-- -------------------------------------------------------------------------------------------------------------------------- -->
                                            <!-- Open annotation image -->

<script>
    var modal = document.getElementById("imageModal");
    var closeBtn = document.getElementById("closeButton");

    function openModal(src) {
    var modalImage = document.getElementById("modalImage");
    modalImage.src = src;
    modal.style.display = "block";
    }

    closeBtn.onclick = function() {
    modal.style.display = "none";
    };

    var tableImages = document.querySelectorAll("table img");
    tableImages.forEach(function(img) {
    img.addEventListener("dblclick", function() {
        openModal(img.src);
    });
    });
</script>


<!-- --------------------------------------------------------------------------------------------------------------------- -->
                                            <!-- highlighted shot name  -->

<script>
    function highlightShot(button) 
        {
        var row = $(button).closest('tr');
        $(row).find('td:eq(3)').addClass('highlight');
        }

    function removeHighlight(button) 
        {
        var row = $(button).closest('tr');
        $(row).find('td:eq(3)').removeClass('highlight');
        }
</script>



<!-- --------------------------------------------------------------------------------------------------------------------------- -->



<script>
    // After 2 seconds, refresh the page
    setTimeout(function() {
        location.reload();
    }, 30000);
</script>


